Name = "Yandex PDD"
Description = '''
'''
URL = "https://pdd.yandex.com"
Code = "yandex"
Since = "v3.7.0"

Example = '''
YANDEX_PDD_TOKEN=<your PDD Token> \
lego --email you@example.com --dns yandex --domains my.example.org run
'''

[Configuration]
  [Configuration.Credentials]
    YANDEX_PDD_TOKEN = "Basic authentication username"
  [Configuration.Additional]
    YANDEX_POLLING_INTERVAL = "Time between DNS propagation check"
    YANDEX_PROPAGATION_TIMEOUT = "Maximum waiting time for DNS propagation"
    YANDEX_HTTP_TIMEOUT = "API request timeout"
    YANDEX_TTL = "The TTL of the TXT record used for the DNS challenge"

[Links]
  API = "https://yandex.com/dev/domain/doc/concepts/api-dns.html"
