Name = "Mittwald"
Description = ''''''
URL = "https://www.mittwald.de/"
Code = "mittwald"
Since = "v1.48.0"

Example = '''
MITTWALD_TOKEN=my-token \
lego --email you@example.com --dns mittwald -d '*.example.com' -d example.com run
'''

[Configuration]
  [Configuration.Credentials]
    MITTWALD_TOKEN = "API token"
  [Configuration.Additional]
    MITTWALD_POLLING_INTERVAL = "Time between DNS propagation check"
    MITTWALD_PROPAGATION_TIMEOUT = "Maximum waiting time for DNS propagation"
    MITTWALD_TTL = "The TTL of the TXT record used for the DNS challenge"
    MITTWALD_HTTP_TIMEOUT = "API request timeout"
    MITTWALD_SEQUENCE_INTERVAL = "Time between sequential requests"

[Links]
  API = "https://api.mittwald.de/v2/docs/"
