Name = "Domain Offensive (do.de)"
Description = ''''''
URL = "https://www.do.de/"
Code = "dode"
Since = "v2.4.0"

Example = '''
DODE_TOKEN=xxxxxx \
lego --email you@example.com --dns dode -d '*.example.com' -d example.com run
'''

[Configuration]
  [Configuration.Credentials]
    DODE_TOKEN = "API token"
  [Configuration.Additional]
    DODE_POLLING_INTERVAL = "Time between DNS propagation check in seconds (Default: 2)"
    DODE_PROPAGATION_TIMEOUT = "Maximum waiting time for DNS propagation in seconds (Default: 60)"
    DODE_HTTP_TIMEOUT = "API request timeout in seconds (Default: 30)"
    DODE_SEQUENCE_INTERVAL = "Time between sequential requests in seconds (Default: 60)"

[Links]
  API = "https://www.do.de/wiki/freie-ssl-tls-zertifikate-ueber-acme/"
