Name = "Autodns"
Description = ''''''
URL = "https://www.internetx.com/domains/autodns/"
Code = "autodns"
Since = "v3.2.0"

Example = '''
AUTODNS_API_USER=username \
AUTODNS_API_PASSWORD=supersecretpassword \
lego --email you@example.com --dns autodns -d '*.example.com' -d example.com run
'''

[Configuration]
  [Configuration.Credentials]
    AUTODNS_API_USER = "Username"
    AUTODNS_API_PASSWORD = "User Password"
  [Configuration.Additional]
    AUTODNS_ENDPOINT = "API endpoint URL, defaults to https://api.autodns.com/v1/"
    AUTODNS_CONTEXT = "API context (4 for production, 1 for testing. Defaults to 4)"
    AUTODNS_TTL = "The TTL of the TXT record used for the DNS challenge in seconds (Default: 600)"
    AUTODNS_POLLING_INTERVAL = "Time between DNS propagation check in seconds (Default: 2)"
    AUTODNS_PROPAGATION_TIMEOUT = "Maximum waiting time for DNS propagation in seconds (Default: 120)"
    AUTODNS_HTTP_TIMEOUT = "API request timeout in seconds (Default: 30)"

[Links]
  API = "https://help.internetx.com/display/APIJSONEN"
