Name = "DirectAdmin"
Description = ''''''
URL = "https://www.directadmin.com"
Code = "directadmin"
Since = "v4.18.0"

Example = '''
DIRECTADMIN_API_URL="http://example.com:2222" \
DIRECTADMIN_USERNAME=xxxx \
DIRECTADMIN_PASSWORD=yyy \
lego --email you@example.com --dns directadmin --domains my.example.org run
'''

[Configuration]
  [Configuration.Credentials]
    DIRECTADMIN_API_URL = "URL of the API"
    DIRECTADMIN_USERNAME = "API username"
    DIRECTADMIN_PASSWORD = "API password"
  [Configuration.Additional]
    DIRECTADMIN_ZONE_NAME = "Zone name used to add the TXT record"
    DIRECTADMIN_POLLING_INTERVAL = "Time between DNS propagation check"
    DIRECTADMIN_PROPAGATION_TIMEOUT = "Maximum waiting time for DNS propagation"
    DIRECTADMIN_TTL = "The TTL of the TXT record used for the DNS challenge"
    DIRECTADMIN_HTTP_TIMEOUT = "API request timeout"

[Links]
  API = "https://www.directadmin.com/api.php"
