Name = "Gandi Live DNS (v5)"
Description = ''''''
URL = "https://www.gandi.net"
Code = "gandiv5"
Since = "v0.5.0"

Example = '''
GANDIV5_PERSONAL_ACCESS_TOKEN=abcdefghijklmnopqrstuvwx \
lego --email you@example.com --dns gandiv5 -d '*.example.com' -d example.com run
'''

[Configuration]
  [Configuration.Credentials]
    GANDIV5_PERSONAL_ACCESS_TOKEN = "Personal Access Token"
    GANDIV5_API_KEY = "API key (Deprecated)"
  [Configuration.Additional]
    GANDIV5_POLLING_INTERVAL = "Time between DNS propagation check"
    GANDIV5_PROPAGATION_TIMEOUT = "Maximum waiting time for DNS propagation"
    GANDIV5_TTL = "The TTL of the TXT record used for the DNS challenge"
    GANDIV5_HTTP_TIMEOUT = "API request timeout"

[Links]
  API = "https://api.gandi.net/docs/livedns/"
