Name = "Porkbun"
Description = ''''''
# This URL is NOT the API URL.
URL = "https://porkbun.com/"
Code = "porkbun"
Since = "v4.4.0"

Example = '''
PORKBUN_SECRET_API_KEY=xxxxxx \
PORKBUN_API_KEY=yyyyyy \
lego --email you@example.com --dns porkbun -d '*.example.com' -d example.com run
'''

[Configuration]
  [Configuration.Credentials]
    PORKBUN_SECRET_API_KEY = "secret API key"
    PORKBUN_API_KEY = "API key"
  [Configuration.Additional]
    PORKBUN_POLLING_INTERVAL = "Time between DNS propagation check in seconds (Default: 10)"
    PORKBUN_PROPAGATION_TIMEOUT = "Maximum waiting time for DNS propagation in seconds (Default: 600)"
    PORKBUN_TTL = "The TTL of the TXT record used for the DNS challenge in seconds (Default: 300)"
    PORKBUN_HTTP_TIMEOUT = "API request timeout in seconds (Default: 30)"

[Links]
  API = "https://porkbun.com/api/json/v3/documentation"
