Name = "reg.ru"
Description = ''''''
URL = "https://www.reg.ru/"
Code = "regru"
Since = "v3.5.0"

Example = '''
REGRU_USERNAME=xxxxxx \
REGRU_PASSWORD=yyyyyy \
lego --email you@example.com --dns regru -d '*.example.com' -d example.com run
'''

[Configuration]
  [Configuration.Credentials]
    REGRU_USERNAME = "API username"
    REGRU_PASSWORD = "API password"
  [Configuration.Additional]
    REGRU_TLS_CERT = "authentication certificate"
    REGRU_TLS_KEY = "authentication private key"
    REGRU_POLLING_INTERVAL = "Time between DNS propagation check"
    REGRU_PROPAGATION_TIMEOUT = "Maximum waiting time for DNS propagation"
    REGRU_TTL = "The TTL of the TXT record used for the DNS challenge"
    REGRU_HTTP_TIMEOUT = "API request timeout"

[Links]
  API = "https://www.reg.ru/support/help/api2"
