Name = "RimuHosting"
Description = ''''''
URL = "https://rimuhosting.com"
Code = "rimuhosting"
Since = "v0.3.5"

Example = '''
RIMUHOSTING_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx \
lego --email you@example.com --dns rimuhosting -d '*.example.com' -d example.com run
'''

[Configuration]
  [Configuration.Credentials]
    RIMUHOSTING_API_KEY = "User API key"
  [Configuration.Additional]
    RIMUHOSTING_POLLING_INTERVAL = "Time between DNS propagation check"
    RIMUHOSTING_PROPAGATION_TIMEOUT = "Maximum waiting time for DNS propagation"
    RIMUHOSTING_TTL = "The TTL of the TXT record used for the DNS challenge"
    RIMUHOSTING_HTTP_TIMEOUT = "API request timeout"

[Links]
  API = "https://rimuhosting.com/dns/dyndns.jsp"
