Name = "Liquid Web"
Description = ''''''
URL = "https://liquidweb.com"
Code = "liquidweb"
Since = "v3.1.0"

Example = '''
LWAPI_USERNAME=someuser \
LWAPI_PASSWORD=somepass \
lego --email you@example.com --dns liquidweb -d '*.example.com' -d example.com run
'''

[Configuration]
  [Configuration.Credentials]
    LWAPI_USERNAME = "Liquid Web API Username"
    LWAPI_PASSWORD = "Liquid Web API Password"
  [Configuration.Additional]
    LWAPI_ZONE = "DNS Zone"
    LWAPI_URL = "Liquid Web API endpoint"
    LWAPI_TTL = "The TTL of the TXT record used for the DNS challenge"
    LWAPI_POLLING_INTERVAL = "Time between DNS propagation check"
    LWAPI_PROPAGATION_TIMEOUT = "Maximum waiting time for DNS propagation"
    LWAPI_HTTP_TIMEOUT = "Maximum waiting time for the DNS records to be created (not verified)"

[Links]
  API = "https://api.liquidweb.com/docs/"
  GoClient = "https://github.com/liquidweb/liquidweb-go"
